*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(27, 27, 42);
}
.container{
    width: 350px;
    height: 300px;
    background-color: rgb(46, 33, 58);
    justify-items: center;
    border-radius: 20px;
}
.heading h1{
    padding-top: 40px;
    font-weight: 800;
    color: white;
}


.glowing-text {
font-size: 2rem;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
animation: glow 1.5s infinite alternate;
}


@keyframes glow {
from {
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
}
to {
text-shadow: 0 0 10px #fff, 0 0 20px #5dade2, 0 0 30px #5dade2,
0 0 40px #5dade2, 0 0 50px #5dade2, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
}
}

.input{
padding-top: 30px;
padding-bottom: 20px;
}

#user{
width: 180px;
height: 30px;
outline: none;
border: none;
border-radius: 40px 5px;
text-align: center;
}

.button{
    padding-top: 5px;
}

#btn{
    width: 120px;
    height: 30px;
    border-radius: 40px 5px;
    border: none;
    outline: none;
}

.profile{
    padding-top: 20px;
}
